.header{
    height: 100px;
    background-color: aqua;
    margin: 10px;
}
.footer{
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
}
.publicidad{
    height: 1000px;
    background-color: blue;
}
.menu{
    height: 1000px;
    background-color: brown;
}
.hola{
    height: 980px;
    background-color: yellowgreen;
    margin: 5px;
}
@media(min-width:768px) and (max-width:991px){
    .publicidad{
        height: 1000px;
    }
    .hola{
        height: 490px;
    }
}
@media(min-width:320px) and (max-width:767px){
    .publicidad{
        height: 100px;
    }
    .hola{
        height: 320px;
    }
}